.header {
  padding: 40px;
  background-color: #3b5d50;
}

.intro-expert .intro {
  color: white;
  font-size: 50px;
}

.text {
  color: white;
  font-size: 17px;
  opacity: 0.4;
}

.btn-shop {
  border-radius: 23px;
  padding: 10px 25px;
}
.btn-shop:hover {
  outline: 2px solid rgb(163, 156, 156);
}

.btn-explore {
  border-radius: 23px;
  padding: 10px 25px;
  color: white;
  background-color: transparent;
}

.btn-explore:hover {
  background-color: transparent !important;
  color: white !important;
  border-color: white !important;
}

.img-coat {
  position: relative;
  display: inline-block;
}

.img-coat img {
  position: relative;
  z-index: 1;
}

.img-coat::after {
  content: "";
  position: absolute;
  width: 255px;
  height: 217px;
  background-image: url(../images/dots-light.svg);
  background-size: contain;
  background-repeat: no-repeat;
  right: -100px;
  top: 0px;
}






